<html lang="en">
    <head></head>
    <body>
      <div class="footer-container">
        <div class="footer-inner-container">
          <div class="footer-list-container">
            <ul class="footer-list">
              <li>Pricing</li>
              <li>Privacy&nbsp;Policy</li>
              <li>Term&nbsp;Of&nbsp;Use</li>
              <li>Marechent&nbsp;Agreement</li>
              <li>Refund&nbsp;&&nbsp;Cancelation&nbsp;policy</li>
            </ul>
          </div>
  
          <div class="footer-social-media">
            <ul class="social-list">
              <li>
                <img
                  src="./../../assets/images/linkedin(1).png"
                  class="social-icon"
                  alt=""
                />
              </li>
              <li>
                <img
                  src="./../../assets/images/twitter(1).png"
                  class="social-icon"
                  alt=""
                />
              </li>
              <li>
                <img
                  src="./../../assets/images/facebook(1).png"
                  class="social-icon"
                  alt=""
                />
              </li>
              <li>
                <img
                  src="./../../assets/images/instagram(1).png"
                  class="social-icon"
                  alt=""
                />
              </li>
            </ul>
          </div>
  
          <div class="footer-copy-right">
            <p class="copy-right-par">
              @2023&nbsp;Locom&nbsp;-&nbsp;All&nbsp;Rights&nbsp;Reserved
            </p>
          </div>
        </div>
      </div>
    </body>
  </html>