<!DOCTYPE html>

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    <div class="container">
        <div class="hero-section d-lg-flex d-sm-block d-md-block">
            <div class="hero-data">
                <div class="hero-title">
                    <h1>Get a &nbsp;<span class="title-span">${{ referral_reward }}</span>&nbsp;&nbsp;Reward with Locom Referral Program!</h1>
                </div>
                <div class="hero-description">
                    <p>
                        Join the Locom Referral Program and embark on a
                         rewarding journey! Spread the word about our
                          innovative platform, and as your referrals sign up
                             and engage, you'll unlock exclusive benefits,
                              discounts, and special perks.
                    </p>
                </div>

                <button routerLink="referral" class="btn cta">Invite Your Friends</button>
            </div>

            <img class="hero-image" src="" alt="">
        </div>
    </div>

    <div class="refer-program-container">
        <h1 class="ref-prog-title">
            Current Referral Program
        </h1>

        <ul class="ref-list d-lg-flex d-md-block d-sm-block">

            <li class="card">
              <div class="card-header gradient-custom py-4">
                <p class="ref-number">{{ current_referrals }}</p>
                <h4 class="header-sub">Current Referrals</h4>
              </div>
                <div class="card-body">
                  Lorem ipsum dolor sit amet consectetur, adipisicing elit.
                  Dolor veniam tenetur reprehenderit ea vitae non iure nihil dolorem repellendus atque!
                  <br>
                  <a href="" class="card-cta">
                    Create Referral
                  </a>
                </div>
            </li>

            <li class="card">
              <div class="card-header gradient-custom py-4">
                <p class="ref-number">{{ days_remaining }}</p>
                <h4 class="header-sub">Days Remaining</h4>
              </div>
              <div class="card-body">
                Lorem ipsum dolor sit amet consectetur, adipisicing elit.
                Dolor veniam tenetur reprehenderit ea vitae non iure nihil dolorem repellendus atque!
                <br>
                <a href="" class="card-cta">
                  Create Referral
                </a>
              </div>
            </li>

        </ul>

    </div>

    <div class="guide container pb-5">
        <h2 class="refer-guide-title">How To Refer a Friend</h2>

        <div class="inner-guide-conyainer d-lg-flex d-md-block d-sm-block">
            <ul class="guide-list">

                <li class="guide-item">
                    <img src="" alt="">
                    <h4 class="guide-title">Sign in to Locom</h4>
                    <div class="guide-text">
                      <img class="tick" src="./../../assets/images/icons8-tick-100.png" alt="">
                      <p class="lead">{{ guide_1 }}</p>
                    </div>
                </li>

                <li class="guide-item">
                    <img src="" alt="">
                    <h4 class="guide-title">Refer a friend</h4>
                    <div class="guide-text">
                      <img class="tick" src="./../../assets/images/icons8-tick-100.png" alt="">
                      <p class="lead">{{ guide_2 }}</p>
                    </div>
                </li>

                <li class="guide-item">
                    <img src="" alt="">
                    <h4 class="guide-title">Watch your inbox</h4>
                    <div class="guide-text">
                      <img class="tick" src="./../../assets/images/icons8-tick-100.png" alt="">
                      <p class="lead">{{ guide_3 }}</p>
                    </div>
                    
                </li>
    
            </ul>

            <div class="refer-image-container">
                <img class="refer-image" src="">
            </div>
            
        </div>
       
    </div>

    <section class="profile-container">
      <div class="card user-card">
        <div class="card-header">

          <div class="user-picture-container">
            <img class="user-picture" src="./../../assets/images/icons8-user-96.png" alt="">
          </div>

          <div class="user-username">
            <h4 class="username-title">username</h4>
          </div>

        </div>

        <div class="card-body">
          <ul class="user-info-list d-lg-flex d-md-block d-sm-block">
            <li>
              <h1 class="user-ref">12</h1>
              <p class="user-info-sub">Referrals</p>
            </li>

            <li>
              <h1 class="user-ref">12</h1>
              <p class="user-info-sub">Earned</p>
            </li>

            <li>
              <h1 class="user-ref">12</h1>
              <p class="user-info-sub">Pending</p>
            </li>
          </ul>
        </div>

        <div class="card-footer">
          <ul class="social-links">
            <li>
              <a href=""><img class="social-img"  class="social-img" src="./../../assets/images/icons8-whatsapp-120.png" alt=""></a>
            </li>
    
            <li>
              <a href=""><img  class="social-img" src="./../../assets/images/icons8-instagram-100.png" alt=""></a>
            </li>
    
            <li>
              <a href=""><img  class="social-img" src="./../../assets/images/icons8-twitter-100.png" alt=""></a>
            </li>
    
            <li>
              <a href=""><img  class="social-img" src="./../../assets/images/icons8-facebook-100.png" alt=""></a>
            </li>
    
            <li>
              <a href=""><img  class="social-img" src="./../../assets/images/icons8-linkedin-120.png" alt=""></a>
            </li>
    
            <li>
              <a href=""><img  class="social-img" src="./../../assets/images/icons8-telegram-100.png" alt=""></a>
            </li>
    
            <li>
              <a href=""><img  class="social-img" src="./../../assets/images/icons8-sms-96 (1).png" alt=""></a>
            </li>
    
            <li>
              <a href=""><img  class="social-img" src="./../../assets/images/icons8-email-100 (1).png" alt=""></a>
            </li>
          </ul>
        </div>
      </div>
    </section>

    <div class="reservation-serction">
      
    </div>

</body>

</html>