@import url('https://fonts.googleapis.com/css2?family=Anton&family=Archivo+Black&family=Bebas+Neue&family=Merriweather+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&family=Merriweather+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton&family=Archivo+Black&family=Merriweather+Sans&display=swap');
body{
    overflow: hidden;
    font-family: DM Sans,sans-serif;
}

.hero-section {
    margin: 5%;
    width: 100%;
    align-items: center;
    justify-content: space-evenly;
}

.hero-description {
    color: #02043b;
    font-size: 15px;
    line-height: 30px;

    @media screen and (max-width: 990px) {
        text-align: center;
    }
}

.hero-data {
    @media screen and (min-width: 1200px) {
        width: 40%;
    }

    @media screen and (max-width: 990px) {
        width: 90%;
        align-items: center;
        justify-content: center;
        text-align: center;
    }
}

.hero-title h1{
    color: #02043b;
    margin-bottom: 5%;
    font-weight: bolder;

    @media screen and (max-width: 990px) {
        width: 85%;
        margin-left: 7.5%;
        line-height: 50px;
    }
}

.title-span {
    color: #267dff;
    font-weight: 600;
    font-size: 50px;

    @media screen and (max-width: 990px) {
        font-size: 40px;
    }
}

.hero-image {
    width: 40%;
    height: 40%;

    @media screen and (max-width: 990px) {
        width: 90%;
        height: 90%;
        margin-top: 15%;
    }

}

.cta {
    background-color: rgb(59 130 246);
    color: white;
    border-radius: 50px;
    padding: 4%;
    margin-top: 5%;
    font-weight: bold;
}

.cta:hover {
    background-color: white;
    color: rgb(59 130 246);
    border-color: rgb(59 130 246);
}

body::-webkit-scrollbar {
    display: none;
}

.refer-program-container {
    background-color: #eee;
    padding: 5%;
    padding-left: 0%;
    align-items: center;
    justify-content: center;

    @media screen and (max-width: 990px) {
        padding-top: 5%;
        padding-bottom: 5%;
    }
}

.refer-prog-pretext {
    color: #267dff;
    font-size: 18px;
    width: 100%;
    text-align: center;
    @media screen and (max-width: 990px) {
        text-align: start;
        margin-left: 10%;
    };
}

.ref-prog-title {
    color: #02043b;
    font-weight: bolder;
    margin-left: 15%;
    margin-bottom: 3%;
    width: 70%;
    text-align: center;
    line-height: 50px;

    @media screen and (max-width: 990px) {
        text-align: start;
        width: 90%;
        margin-left: 10%;
    }
}

.ref-prog-card-title {
    font-weight: bold;
    color: #267dff;
}

.refer-guide-title {
    margin-left: 2.5%;
    color: #02043b;
    font-weight: bolder;
    text-align: center;

    @media screen and (max-width: 990px) {
        margin-left: 9%;
        margin-top: 5%;
        margin-bottom: 10%;
        text-align: start;
        line-height: 40px;
    }
}

.refer-guide-subtitle {
    color: #02043b;
    font-weight: bold;
    width: 50%;
    margin-left: 2.5%;
    margin-top: 2rem;
}

.ref-list {
    width: 90%;
    margin-left: 5%;
    list-style: none;
    align-items: center;
    justify-content: space-evenly;
    text-align: center;
    @media screen and (max-width: 990px) {
        width: 100%;
        margin-left: 4%;
    }
}

.ref-item {
    background-color: white;
    width: 30%;
    height: 10%;
    padding: 3%;
    border-radius: 15px;

    @media screen and (max-width: 990px) {
        width: 97%;
    }
}

.ref-item h4 {
    color: rgb(59 130 246);
}

.ref-logo {
    width: 50px;
    height: 50px;
    margin-bottom: 10%;
    margin-top: 0%;
}

.refer-image-container {
    width: 40%;
    height: 40%;
    margin-left: 5%;
    margin-top: 2%;

    @media screen and (max-width: 990px) {
        width: 90%;
        margin-right: 8%;
    }

}

.refer-image {
    width: 100%;
    height: 100%;
}

.ref-title {
    margin-top: 25%;
    

    @media screen and (max-width: 990px) {
        margin-top: 10%;
        margin-left: 5%;
    }
}

small {
    color: rgb(212, 213, 216);
}

@media screen and (max-width: 990px) {
    .ref-list li {
        margin-right: 10%;
        margin-top: 10%;
    }
}

.guide {
    margin-top: 5%;
}

.image-container {
    width: 50%;
    height: 50%;
}

.guide-image-container {
    width: 100%;
}

.guide-icon {
    width: 25%;
    height: 25%;
}

.guide-list {
    width: 100%;
    align-items: center;
    justify-content: space-evenly;
    list-style: none;
    margin-top: 3%;

    @media screen and (max-width: 990px) {
        width: 93%;
    }

}

.guide-title {
    color: #02043b;
    font-weight: bold;
    width: fit-content;
    text-align: center;
    width: 100%;
}

.guide-item {
    padding: 3%;
    margin-top: 2%;
    width: 25%;
    height: 300px;
    align-items: center;
    justify-content: center;

    @media screen and (max-width: 990px) {
        width: 100%;
        margin-top: 10%;
    }
}

.guide-item img {
    width: 20%;
    height: 20%;
    margin-left: 40%;
    margin-bottom: 8%;

    @media screen and (max-width: 990px) {
        width: 25%;
        height: 20%;
        margin-left: 37.5%;
       
    }
}

.lead {
    color: #02043b;
    font-size: 16px;
    line-height: 30px;
    text-align: start;
    text-align: center;
}

.personal-form {
    background-color: rgb(59 130 246);
    padding: 5%;
    margin-top: 5%;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.social-col img {
    width: 30px;
    height: 30px;
    margin: 3%;
}

.down-cta {
    background-color: white;
    color: rgb(59 130 246);
    border-radius: 10px;
    padding: 1%;
    margin-top: 5%;
}

.down-cta:hover {
    background-color: rgb(59 130 246);
    color: white;
    border-color: white;
}

.social-link img{
    width: 26px;
    height: 26px;
    margin: 2%;

    @media screen and (max-width: 990px) {
        width: 22px;
        height: 22px;
    }
}

.gradient-custom {
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(49,49,166,1) 0%, rgba(51,191,219,1) 100%);
    
    
    
    
    border-bottom-left-radius: .5rem;

    @media screen and (max-width: 990px) {
        border-top-left-radius: .5rem;
        border-top-right-radius: .5rem; 
        border-bottom-left-radius: 0rem;
    }
}

.socail-sec {
    width: 200%;
    align-items: center;
    justify-content: center;

    @media screen and (max-width: 990px) {
        width: 115%;
    }

}

.personal-refer {
    border-bottom: 1px solid rgba(0, 0, 0, 0.08);
    padding: 4%;
    padding-left: 10%;
    padding-right: 10%;
    margin-top: 5%;
    background-color: #eee;
    border-top-right-radius: 1.5rem;
    border-top-left-radius: 1.5rem;
    position: relative;
    bottom: 50px;

    @media screen and (max-width: 990px) {
        position: relative;
        top: 10px;
    }
}

.ref-list {
    display: flex;
    justify-content: space-around;
  }

  .ref-list li {
    text-align: center;
  }
  
  .ref-number {
    color: white;
    font-size: 75px;
    font-weight: 700;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    font-family: 'Bebas Neue', sans-serif;
  }

  .header-sub {
    color: #eee;
  }

  .card-header {
    padding: 2%;
  }

  .card {
    width: 25%;
    -webkit-box-shadow: -14px 14px 21px -5px rgba(217,208,217,1);
    -moz-box-shadow: -14px 14px 21px -5px rgba(217,208,217,1);
    box-shadow: -14px 14px 21px -5px rgba(217,208,217,1);
  }

  .card-body {
    font-size: 16px;
    line-height: 30px;
    text-align: start;
    display: block;
  }

  .card-cta {
    text-decoration: none;
    color: #02043b;
    font-size: 12px;
    background-color: aquamarine;
    border-radius: 20px;
    padding: 4%;
  }
  
  @media (max-width: 992px) {
    .ref-list {
      flex-direction: column;
      align-items: center;
    }
  
    .ref-list li {
      width: 100%;
      margin-bottom: 20px;
    }
  }
  
  

.personal-refer-title {
    color: rgb(59 130 246);
    font-size: 30px;
    font-weight: 500;
    margin-bottom: 4%;
}

.userprof-title {
    font-weight: bolder;
    color: #02043b;
    width: 100%;
    text-align: center;
    margin-bottom: 5%;
}

.user-filed-o {
    font-size: 35px;
    font-weight: 600;
    text-align: center;
    color: rgb(59 130 246);
}

.user-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 3rem;

    @media (max-width: 992px) {
        display: block;
    }
  }
  
  .user-filed-wrapper {
    flex-grow: 1;
    text-align: center;
    margin-bottom: 3rem;
  }
  
  .social-links,
  .social-links-md {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    list-style: none;
    padding: 0;
    width: 94%;
  }
  
  .social-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 0;
    margin-top: 5rem;
  }

  .button-wrapper {
    margin-top: 7.5rem;
    margin-bottom: 5rem;
  }

  .track-btn {
    margin-top: 6rem;
  }

  .button-wrapper .btn {
    background-color: rgb(59 130 246);
    color: white;
    width: 70%;
    height: 62px;
    margin-right: 15%;

    @media screen and (max-width: 1283px) {
        margin-left: 15%;
    }

  }
  
  .social-wrapper a {
    margin: 0 0.5rem;
  }
  
  .social-img {
    transition: transform .2s;
    width: 26px;
    height: 26px;

    @media screen and (min-width: 992px) {
        margin-left: 45px;
    }
  }

  .social-wrapper:first-child {
    @media screen and (min-width: 992px) {
        margin-left: 0px;
    }
  }

  .social-img:hover {
    transform: scale(1.5);
  }

.button-wrapper .btn:hover {
    background-color: white;
    color: rgb(59 130 246);
    border-color: rgb(59 130 246);
}

.track-btn {
    padding: 5%;
    border-radius: 50px;
    position: relative;
    bottom: 13%;
    color: white;
}

.track-btn:hover {
    color: rgb(59 130 246);
}

.guide-text {
    display: flex;
    text-align: center;
}

.tick {
    margin-top: .3rem;
    margin-right: .2rem;
    width: 20px;
    height: 20px;
}

.profile-container {
    padding: 5%;
    width: 100%;
    background-color: #eee;
}

.profile-container .refer-prog-pretext {
    @media screen and (max-width: 992px) {
        width: 90%;
        margin-left: 7%;
    }
    
}

.user-card {
    width: 50%;
    margin-left: 25%;

    @media screen and (max-width: 992px) {
        width: 90%;
        margin-left: 5%;
    }
}

.card-header {
    width: 100%;
    background-color: #267dff;

    @media screen and (max-width: 992px) {
        padding-top: 10%;
        padding-bottom: 10%;
    }
}

.username-title {
    text-align: center;
    color: white;
    font-weight: bold;
}

.user-picture-container {
    width: 100%;
}

.user-picture {
    width: 20%;
    height: 20%;
    margin-left: 40%;
    margin-bottom: 2%;
}

.user-info-list {
    padding: 5%;
    list-style: none;
    width: 100%;
    align-items: center;
    justify-content: space-around;
}

.user-info-list li {
    margin: 4%;

    @media screen and (max-width: 992px) {
        margin-bottom: 15%;
    }
}

.user-info-list:last-child {
    @media screen and (max-width: 992px) {
        margin-bottom: 0%;
    }
}

.user-ref {
    font-weight: bolder;
    text-align: center;
    color: #02043b;
}

.user-info-sub {
    color: #267dff;
    text-align: center;
}

.card-footer {
    padding-top: 1.5rem;
}

.reservation-data {
    width: 50%;
    padding-left: 15%;

    @media screen and (max-width: 992px) {
        width: 95%;
        margin-left: 0;
        padding-left: 8%;
    }
}

.reservation-data .refer-prog-pretext {
    text-align: start;

    @media screen and (max-width: 992px) {
        margin-left: 0%;
    }
}

.reserve-title {
    text-align: start;
    font-weight: bolder;
}

.reservation-par {
    line-height: 30px;
    margin-top: 4%;
    margin-bottom: 4%;
}

.reserve-btn {
    background-color: #267dff;
    color: white;
    padding: 3.3%;
    border-radius: 30px;
    font-weight: bold;
}

.reserve-btn:hover {
    background-color: white;
    color: #267dff;
    border-color: #267dff;
}

.track-referral-container {
    background-color: #eee;
    padding: 4%;
    width: 100%;
    align-items: center;
    justify-content: center;
    height: min-content;
}

.track-title {
    width: 50%;
    margin-left: 25%;
    line-height: 50px;
    font-weight: bolder;
    text-align: center;

    @media screen and (max-width: 992px) {
        width: 100%;
        margin-left: auto;
    }
}

.track-subtitle {
    width: 100%;
    text-align: center;
    line-height: 30px;
}

.track-btn {
    align-self: center;
    width: 14%;
    margin-left: 43%;
    height: 62px;
    background-color: #267dff;
    padding: 1.4%;
    font-weight: bold;
    align-items: center;
    position: relative;
    bottom: 50px;

    @media screen and (max-width: 992px) {
        width: 50%;
        margin-left: 25%;
    }
}

.track-btn:hover {
    background-color: #eee  ;
    color: #267dff;
    border-color: #267dff;
}