<!DOCTYPE html>

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    <div class="container">
        <div class="hero-section d-lg-flex d-sm-block d-md-block">
            <div class="hero-data">
                <div class="hero-title">
                    <h1>Get a &nbsp;<span class="title-span">${{ referral_reward }}</span>&nbsp;&nbsp;Reward with Locom Referral Program!</h1>
                </div>
                <div class="hero-description">
                    <p>
                        Join the Locom Referral Program and embark on a
                         rewarding journey! Spread the word about our
                          innovative platform, and as your referrals sign up
                             and engage, you'll unlock exclusive benefits,
                              discounts, and special perks.
                    </p>
                </div>

                <button routerLink="referral" class="btn cta">Invite Your Friends</button>
            </div>

            <img class="hero-image" src="" alt="">
        </div>
    </div>

    <div class="refer-program-container">
        <p class="refer-prog-pretext ">
          How it's going at Locom?
        </p>
        <h1 class="ref-prog-title">
          Omnichannel, cross-lifecycle and flexible: Starts your loyalty journey  with Locom
        </h1>

        <ul class="ref-list d-lg-flex d-md-block d-sm-block">

            <li class="card">
              <div class="card-header gradient-custom py-4">
                <p class="ref-number">{{ current_referrals }}</p>
                <h4 class="header-sub">Current Referrals</h4>
              </div>
                <div class="card-body">
                  <h4 class="ref-prog-card-title">
                    Make a referral!
                  </h4>
                  <p>
                    Lorem ipsum dolor sit amet consectetur, adipisicing elit.
                    Dolor veniam tenetur reprehenderit ea vitae non iure nihil dolorem repellendus atque!
                  </p>
                  
                 
                  <a href="" routerLink="referral" class="card-cta">
                    Refer Now
                  </a>
                </div>
            </li>

            <li class="card">
              <div class="card-header gradient-custom py-4">
                <p class="ref-number">{{ days_remaining }}</p>
                <h4 class="header-sub">Days Remaining</h4>
              </div>
              <div class="card-body">

                <h4 class="ref-prog-card-title">
                  Only {{ days_remaining }} away!
                </h4>

                <p>
                  Lorem ipsum dolor sit amet consectetur, adipisicing elit.
                  Dolor veniam tenetur reprehenderit ea vitae non iure nihil dolorem repellendus atque!
                </p>
                
                <a href="" class="card-cta">
                  Create Referral
                </a>
              </div>
            </li>

        </ul>

    </div>

    <div class="guide container pb-5">
        <p class="refer-prog-pretext">How to get started at Locom</p>
        <h1 class="refer-guide-title">Get rewarded at Locom by referring your friends</h1>

        <div class="inner-guide-conyainer ">
            <ul class="guide-list d-lg-flex d-md-block d-sm-block">

                <li class="guide-item">
                  
                    <img src="./../../assets/images/icons8-user-64.png" alt="">

                    <div class="guide-item-data">
                      <h4 class="guide-title">Sign in to Locom</h4>
                      <div class="guide-text">
                        <p class="lead">{{ guide_1 }}</p>
                      </div>
                    </div>
                    
                </li>

                <li class="guide-item">
                    <img src="./../../assets/images/icons8-network-64.png" alt="">
                    <div class="guide-item-data">
                      <h4 class="guide-title">Refer a friend</h4>
                      <div class="guide-text">
                        <p class="lead">{{ guide_2 }}</p>
                      </div>
                    </div>
                    
                </li>

                <li class="guide-item">
                  <img src="./../../assets/images/icons8-user-64.png" alt="">
                    <div class="guide-item-data">
                      <h4 class="guide-title">Watch your inbox</h4>
                      <div class="guide-text">
                        <p class="lead">{{ guide_3 }}</p>
                      </div>
                    </div>
                                       
                </li>
    
            </ul>
            
        </div>
       
    </div>

    <section class="profile-container d-block">
      <p class="refer-prog-pretext">
        Take look at what you have earned
      </p>
      <h1 class="userprof-title">Invitation History at Locom</h1>
      <div class="card user-card">
        <div class="card-header gradient-custom">

          <div class="user-picture-container">
            <img class="user-picture" src="./../../assets/images/icons8-user-96.png" alt="">
          </div>

          <div class="user-username">
            <h4 class="username-title">username</h4>
          </div>

        </div>

        <div class="card-body">
          <ul class="user-info-list d-lg-flex d-md-block d-sm-block">
            <li>
              <h1 class="user-ref">52</h1>
              <p class="user-info-sub">Referrals</p>
            </li>

            <li>
              <h1 class="user-ref"> $ 120</h1>
              <p class="user-info-sub">Earned</p>
            </li>

            <li>
              <h1 class="user-ref"> $ 12</h1>
              <p class="user-info-sub">Pending</p>
            </li>
          </ul>
        </div>

        <div class="card-footer">
          <ul class="social-links">
            <li>
              <a href=""><img class="social-img"  class="social-img" src="./../../assets/images/icons8-whatsapp-120.png" alt=""></a>
            </li>
    
            <li>
              <a href=""><img  class="social-img" src="./../../assets/images/icons8-instagram-100.png" alt=""></a>
            </li>
    
            <li>
              <a href=""><img  class="social-img" src="./../../assets/images/icons8-twitter-100.png" alt=""></a>
            </li>
    
            <li>
              <a href=""><img  class="social-img" src="./../../assets/images/icons8-facebook-100.png" alt=""></a>
            </li>
    
            <li>
              <a href=""><img  class="social-img" src="./../../assets/images/icons8-linkedin-120.png" alt=""></a>
            </li>
    
            <li>
              <a href=""><img  class="social-img" src="./../../assets/images/icons8-telegram-100.png" alt=""></a>
            </li>
    
            <li>
              <a href=""><img  class="social-img" src="./../../assets/images/icons8-sms-96 (1).png" alt=""></a>
            </li>
    
            <li>
              <a href=""><img  class="social-img" src="./../../assets/images/icons8-email-100 (1).png" alt=""></a>
            </li>
          </ul>
        </div>
      </div>
    </section>

    <div class="reservation-serction d-lg-flex d-md-block d-sm-block py-5">
      <div class="reservation-data">
        <p class="refer-prog-pretext">
          Marketers
        </p>
        <h1 class="reserve-title">Make a Reservation Right Now!</h1>
        <p class="reservation-par">
          Embark on an exhilarating odyssey of boundless wonders and extraordinary experiences with Voyage.com! Unleash your wanderlust, immerse yourself in awe-inspiring destinations, and let the world unveil its captivating secrets. Reserve now and let the adventure of a lifetime beckon you towards an unforgettable voyage!
        </p>

        <button class="reserve-btn btn">Make a Reservation</button>
      </div>
      
      <img src="" alt="">
    </div>

    <section class="track-referral-container">
      <h1 class="track-title">Brands like Voyayge.com trust Locom to power their promotions</h1>
      <p class="track-subtitle">
        Book a demo to see our product in action
      </p>

      <div class="btn-container">
        <button routerLink="referral" class="track-btn btn">Get started</button>
      </div>
      
    </section>
<!-- 
    <mat-foem-field>
      <input matInput>
      <mat-datepicker-toggle matSuffix></mat-datepicker-toggle>
      <mat-datepicker #myDatePicker></mat-datepicker>
    </mat-foem-field> -->

</body>

</html> 