body {
    overflow: hidden;
    background-color: #eee;
    position: relative;
    bottom: 12px;
}


.intro-title {
    margin: 3%;
    margin-left: 13%;

    @media screen and (max-width: 990px) {
        margin-left: 5%;
    }
}

.introduction {
    padding-left: 8%;
    padding-right: 0%;
    margin-top: 3%;
    margin-bottom: 3%;
    width: 100%;
    align-items: center;
    justify-content: space-around;

    @media screen and (max-width: 990px) {
        padding: 4%;
    }
}

.intro-letter {
    display: block;
    border-radius: 10px;
    border-color: rgb(182, 182, 182);
    border-style: solid;
    border-width: 1px;
    padding: 3%;
    width: 100%;
    height: fit-content;
    font-size: 14px;
    color: rgb(140, 140, 140);
    line-height: 40px;
    margin-right: 5%;
}

.intro-image-container {
    width: 100%;
    height: 100%;
    margin: 5%;
}

.intro-image-container img {
    width: 60%;
    height: 60%;
}

.binded {
    color: #fa9090;
}

.review-link-btn {
    margin-top: 4%;
    margin-bottom: 4%;
    background-color: #202980;
    color: white;
    padding: 3%;
    border-radius: 5px;

    @media screen and (max-width: 990px) {
        margin-left: 4%;
        width: 90%;
    }
}

.review-link-btn:hover {
    background-color: white;
    border-color: #202980;
    color: #202980;
}

.inner-container {
    background-color: white;
    padding: 3%;
    margin-bottom: 5%;
    border-radius: 10px;
}

.prog-detail {
    background-color: #202980;
    padding: 4%;

    @media screen and (max-width: 990px) {
        padding: 5%;
        width: 100%;
    }
}

.program-detail-title {
    color: white;
    margin-bottom: 4%;

    @media screen and (max-width: 990px) {
        margin-top: 5%;
        margin-bottom: 10%;
    }
}

.prog-detail-data {
    font-size: 14px;
    line-height: 30px;
    color: rgb(140, 140, 140);

    @media screen and (max-width: 990px) {
        padding: 4%;
    }
}

.purchase {
    width: 100%;
}

.purchase-image {
    width: 100%;
    height: 100%;
}

.purchase-image-container {
    width: 40%;
    height: 80%;
    margin-right: 10%;

    @media screen and (max-width: 990px) {
        width: 100%;
        margin-right: 0%;
    }

    @media screen and (max-width: 590px) {
        width: 100%;
        position: relative;
        top: 0px;
        margin-right: 0%;
    }
}

.purchase-inner-container {
    padding: 5%;
    width: 50%;

    @media screen and (max-width: 990px) {
        width: 90%;
    }
}

.purchase-data {
    color: rgb(140, 140, 140);
    margin-top: 5%;
    margin-bottom: 10%;
    line-height: 30px;
}

.purchase-btn {
    background-color: #202980;
    color: white;
    padding: 5%;
    border-radius: 50px;
}

.purchase-btn:hover {
    background-color: white;
    color: #202980;
    border-color: #202980;
}

.btn-lg {
    background-color: #202980;
    padding: 5%;
    color: white;
    width: 380px;
}

.btn-lg:hover {
    background-color: white;
    border-color: #202980;
    color: #202980;
}

i {
    position: relative;
    bottom: 13px;
}

.contacts-list-container {
    border-top-right-radius: 0.5rem;
    border-top-left-radius: 0.5rem;
}

.invitation-form {
    align-items: center;
    justify-content: space-evenly;
    background-color: #202980;
    padding: 5%;
}

.contacts-list-container {
    align-items: center;
    justify-content: center;
    background-color: white;
    margin-bottom: 10%;
}

.invite-description {
    width: 78%;
}

.invite-title {
    color: rgb(230, 226, 226);

    @media screen and (max-width: 990px) {
        margin-top: 4%;
        margin-bottom: 4%;
    }
}

.invite-sub {
    color: rgb(230, 226, 226);
    font-size: 14px;
    line-height: 30px;
}

.cover-letter {
    width: 50%;
    color: rgb(230, 226, 226);
    font-size: 15px;
    line-height: 30px;

    @media screen and (max-width: 990px) {
        width: 100%;
    }

}

.contacts {
    padding: 4%;
    padding-left: 10%;
    padding-right: 10%;
    background-color: #eee;
    border-top-right-radius: 1.5rem;
    border-top-left-radius: 1.5rem;
    position: relative;
    bottom: 50px;

    @media screen and (max-width: 990px) {
        position: relative;
        top: 10px;
    }

}

.contact-row {
    width: 30%s;
}

.contact-item {
    display: flex;
    width: 90%;
    margin-left: 5%;
    align-items: center;
    justify-content: space-between;
    border-bottom: #7d7d7d solid 1px;
    padding: 2%;

    @media screen and (max-width: 990px) {
        width: 94%;
    }
}

.contact-name {
    color: #202980;
    font-weight: 600;
    line-height: 30px;
}

.col-12 {
    width: 100%;
}

.contact-number {
    color: #7d7d7d;
    font-size: 13px;
    line-height: 30px;
}

.invite-btn {
    background-color: #202980;
    width: 100px;
    height: 40px;
    color: white;
}

.invite-btn:hover {
    background-color: #eee;
    color: #202980;
    border-color: #202980;
}

.purchase-title {
    color: #202980;
}

.contacts-title {
    color: #202980;
    margin-left: .5%;
}

.span-number {
    font-size: 40px;
    line-height: 50px;
}

.contact-header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  
  .contacts-title {
    flex-basis: 90%;
    margin-bottom: 4%;
  }
  
  .social-links {
    flex-basis: 95%;
    display: flex;
    justify-content: space-around;
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  .social-links li {
    flex-basis: 14%;
    text-align: center;
  }
  
  .social-img {
    transition: transform .2s;
    width: 30px;
    height: 30px;
    max-width: 100%;
    height: auto;

    @media screen and (max-width: 990px) {
        width: 24px;
        height: 24px;
    }

  }
  
.social-img:hover {
    transform: scale(1.5);
  }
  