<!DOCTYPE html>

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

  <div class="invitation-form d-lg-flex d-md-block d-sm-block">

    <div class="invite-description">
      <h3 class="invite-title">Get a <span class="span-number">${{ referral_credit }}</span> Bonus By Inviting Your Friends!</h3>
      <h6 class="invite-sub">When a referral is successfull, both of you get
        $ {{ referral_credit }} into your accounts</h6>

      <h5 class="cover-letter">Hi <span class="binded" contenteditable="true">{{current_user}}</span>!</h5>

      <p class="cover-letter">
        Your friend <span class="binded" contenteditable="true">{{referrer_name}}</span> 
        referred you to our referral program!
        Here's how it works:
        Sign up using the unique referral link provided by 
        <span class="binded" contenteditable="true">{{referrer_name}}</span>.
        Share the link with your friends and when someone signs up or makes a purchase using your link,
        both you and your friend receive a reward.
        <span class="binded" contenteditable="true">{{referral_link}}</span>
        <span class="binded" contenteditable="true">{{company_name}}</span>
        <br>
      </p>
    </div>
                
  </div>

  <div class="contacts">
    <div class="contact-row row">
      <div class="contact-header">
        <h3 class="contacts-title">Invite Your Friends</h3>

        <ul class="social-links mb-5 mt-3">
  
          <li>
            <a href=""><img class="social-img"  class="social-img" src="./../../assets/images/icons8-whatsapp-120.png" alt=""></a>
          </li>
  
          <li>
            <a href=""><img  class="social-img" src="./../../assets/images/icons8-instagram-100.png" alt=""></a>
          </li>
  
          <li>
            <a href=""><img  class="social-img" src="./../../assets/images/icons8-twitter-100.png" alt=""></a>
          </li>
  
          <li>
            <a href=""><img  class="social-img" src="./../../assets/images/icons8-facebook-100.png" alt=""></a>
          </li>
  
          <li>
            <a href=""><img  class="social-img" src="./../../assets/images/icons8-linkedin-120.png" alt=""></a>
          </li>
  
          <li>
            <a href=""><img  class="social-img" src="./../../assets/images/icons8-telegram-100.png" alt=""></a>
          </li>
  
          <li>
            <a href=""><img  class="social-img" src="./../../assets/images/icons8-sms-96 (1).png" alt=""></a>
          </li>
  
          <li>
            <a href=""><img  class="social-img" src="./../../assets/images/icons8-email-100 (1).png" alt=""></a>
          </li>
        </ul>

      </div>
      
        <div class="contact-loop col-12">
          <div class="contact-item" *ngFor="let c of contacts">
            <div class="contact-info">
              <p class="contact-name">{{ c.Name }}</p>
            </div>
              <button class="btn invite-btn">invite</button>
          </div>
        </div>
    </div>
  </div>

    <div class="purchase container d-lg-flex d-md-block d-sm-block">

        <div class="purchase-image-container">
            <img class="purchase-image" src="./.././../assets/images/holiday.png" alt="">
        </div>

        <div class="purchase-inner-container">
            <h3 class="purchase-title">Purchase and Win a Holiday!</h3>

            <p class="purchase-data">
                Ready to turn your travel dreams into reality? Visit VoyageScope now and enter our 
                "Win a Dream Holiday" contest!
                Explore our curated travel packages, 
                indulge in unforgettable experiences, 
                and enjoy seamless arrangements. With each purchase, 
                you automatically enter for a chance to win an incredible vacation package.
                Don't miss out! Start your journey today and get closer to 
                winning the holiday of your dreams.
                Happy travels!
            </p>

            <a href="http://voyagescope.com"><button class="btn purchase-btn">Check out Now!</button></a>
        </div>
    </div>

    <section class="py-5" style="background-color: #eee;">
        <div class="container my-5">
          <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-lg-10 col-xl-11">
              <div class="card text-black" style="border-radius: 25px;">
                <div class="card-body p-md-5">
                  <div class="row justify-content-center">
                    <div class="col-md-8 col-lg-5 col-xl-5 order-2 order-lg-1">
      
                      <p class="text-center h3 fw-bold mb-5 mx-1 mx-md-4 mt-4">Sign up</p>
      
                      <form class="mx-1 mx-md-4">
      
                        <div class="d-flex flex-row align-items-center mb-4">
                          <i class="fas fa-user fa-lg me-3 fa-fw"></i>
                          <div class="form-outline flex-fill mb-0">
                            <input type="text" id="form3Example1c" class="form-control" />
                            <label class="form-label" for="form3Example1c">Your Name</label>
                          </div>
                        </div>
      
                        <div class="d-flex flex-row align-items-center mb-4">
                          <i class="fas fa-envelope fa-lg me-3 fa-fw"></i>
                          <div class="form-outline flex-fill mb-0">
                            <input type="email" id="form3Example3c" class="form-control" />
                            <label class="form-label" for="form3Example3c">Your Email</label>
                          </div>
                        </div>
      
                        <div class="d-flex flex-row align-items-center mb-4">
                          <i class="fas fa-lock fa-lg me-3 fa-fw"></i>
                          <div class="form-outline flex-fill mb-0">
                            <input type="password" id="form3Example4c" class="form-control" />
                            <label class="form-label" for="form3Example4c">Password</label>
                          </div>
                        </div>
      
                        <div class="d-flex flex-row align-items-center mb-4">
                          <i class="fas fa-key fa-lg me-3 fa-fw"></i>
                          <div class="form-outline flex-fill mb-0">
                            <input type="password" id="form3Example4cd" class="form-control" />
                            <label class="form-label" for="form3Example4cd">Repeat your password</label>
                          </div>
                        </div>
      
                        <div class="form-check d-flex justify-content-center mb-5">
                          <input class="form-check-input me-2" type="checkbox" value="" id="form2Example3c" />
                          <label class="form-check-label" for="form2Example3">
                            I agree all statements in <a href="#!">Terms of service</a>
                          </label>
                        </div>
      
                        <div class="d-flex justify-content-center mx-4 mb-3 mb-lg-4">
                          <button type="button" class="btn btn-lg">Register</button>
                        </div>
      
                      </form>
      
                    </div>
                    <div class="col-md-8 col-lg-4 col-xl-6 d-flex align-items-center order-1 order-lg-2">
      
                      <img src="./../../assets/images/Login-rafiki.png"
                        class="img-fluid" alt="Sample image">
      
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
    </section>
</body>
</html>
